<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- external resources: devicon stylesheet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@ v2.15.1/devicon.min.css">
<link rel="stylesheet" media="print" href="css/custom-print.css">
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->

